.about-main, .about-video{
    position: relative;
    width: 100%;
    height: 100vh;
}

.about-video{
    background-color: #D2EFFF;
    color: white;
    height: 700px;
}

.video-container{    
    width: auto;
    min-width: 40%;
    height: 250px;
    border-radius: 50px;
}

.about-main-bg{
    position: absolute;
    right: 0px;
    top: 0px;
    background: url("img/zayavka/form_bg.png") no-repeat left top;
    background-size: cover;
    width: 60%;
    height: 100%;
    text-align: right;
    z-index: 1;
}

.video-container{    
    width: 50%;
    height: 520px;
    border-radius: 50px;
    padding: 50px;
    top:50%;
    /* transform: translateY(-50%); */
}

#about-main-h1{
    position: relative;
    left: 54px;
    top: 140px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #F2994A;
    font-size: 64px;
}

#about-video-h1{
    position: relative;
    right: 0px;
    max-width: 90%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #F2994A;
    font-size: 64px;
}

.h1_right{
    text-align: right;
}

#about-main-h2{
    width: 90%;
    position: relative;
    top: 120px;
    left: 54px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #7e5304;
    font-size: 36px;
    text-align: left;
}

#lines_about{
    width: 100%;
    height: 80%;
}

#about-main-h2-right{
    position: relative;
    right: 0px;
    max-width: 90%;
    top: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #7e5304;
    font-size: 36px;
    text-align: right;
    padding: 0;
}

.slider-container{
    position: absolute;
    right: 10px;
    top: 120px;
    width: 60%;
}

.flex-container{
    display: flex;
    flex-flow: row nowrap;
}

#block-for-slider {
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
}

#viewport {
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}

#slidewrapper {
    position: relative;
    width: calc(100% * 8);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

.slide {
    width: calc(100%/8);
    list-style: none;
    display: inline;
    float: left;
}

.slide-img {
    width: 100%;
}

#prev-btn, #next-btn {
    position: absolute;
    width: 50px;
    height: 77px;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%);
}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    background: url('/img/left_arrow_btn.png'); 
    height: 72px;   
}

#next-btn {
    background: url('/img/right_arrow_btn.png');
}

#partners_container{
    position: relative;
    top: 25px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    padding-bottom: 50px;
}
/*END OF SLIDER */

#squad{
    width: 100%;
    background: linear-gradient(180deg, rgba(103, 242, 167, 0.35) 0%, rgba(255, 255, 255, 0) 100%);
    padding-bottom: 80px;
}

.header_squad{
    font-weight: 700;
    color: var(--main-orange);
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.squad-flex-container{
    position: relative;
    top: 0px;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;    
}

.squad-card{
    width: 313px;
    height: 412px;
    border-radius: 27px;  
    overflow: hidden;  
    margin-top: 30px;
}

#squad-card-1, #squad-card-2, #squad-card-3 {  /*DIVIDE IT*/
    background: url('img/squad/1.png') no-repeat center center;
    background-size: cover;
}

.squad-text-container{
    position: relative;
    height: 313px;
    margin: 0 auto;
    width: 283px;
    max-width: 100%;
    word-wrap: break-word;
    text-align: center;
    padding: 0px 15px;
}

.h1-container{
    width: 40%;
}

#h1-container-video{
    padding: 50px 20px;
}

.squad-card-h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 36px;
}

.squad-card-h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: var(--main-orange);
    font-size: 18px;
    padding-bottom: 20px;
    padding-top: 8px;
}

.squad-card-p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff9a;
    font-size: 13px;
    text-align: justify;
    padding: 5px;
}