.about-main, .about-video{
    position: relative;
    width: 100%;
    height: 100vh;
}

.about-video{
    background-color: var(--main-blue);
    color: white;
}

.about-main-bg{
    position: absolute;
    right: 0px;
    top: 0px;
    background: url("img/zayavka/form_bg.png") no-repeat left top;
    background-size: cover;
    width: 60%;
    height: 100%;
    text-align: right;
    z-index: 1;
}

.video-container{    
    width: 50%;
    height: 720px;
    border-radius: 50px;
    padding: 50px;
}

#about-main-h1{
    position: relative;
    left: 84px;
    top: 140px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #df960e;
    font-size: 64px;
}

#about-main-h2{
    position: relative;
    top: 170px;
    left: 84px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #7e5304;
    font-size: 56px;
}

.slider-container{
    position: absolute;
    right: 10px;
    top: 120px;
    height: 420px;
    width: 60%;
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
}

#block-for-slider {
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
}

#viewport {
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}

#slidewrapper {
    position: relative;
    width: calc(100% * 8);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

.slide {
    width: calc(100%/8);
    list-style: none;
    display: inline;
    float: left;
}

.slide-img {
    width: 100%;
}

#prev-btn, #next-btn {
    position: absolute;
    width: 50px;
    height: 77px;
    background-color: #fff;
    top: 50%;
}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    left: 10px;
    background: url('../img/left_arrow_btn.png');    
}

#next-btn {
    right: 10px;
    background: url('../img/right_arrow_btn.png');
}

#partners_container{
    position: relative;
    top: 25px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    padding-bottom: 50px;
}
/*END OF SLIDER */