/*zayavka here */
#zayavka{
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    min-height: 800px;
    z-index: 0;
}

.zayavka_header{
    position: relative;
    left: 60px;
    top: 55px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 64px;
    color: #656565;
    text-transform: uppercase;
    max-width: 40%;
    margin-bottom: 70px;
}

.zayavka_h2{
    position: relative;
    left: 60px;
    top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 28px;
    color: #656565;
    text-transform: uppercase;
    max-width: 30%;
}

.zayavka_bg{
    position: absolute;
    right: 0px;
    top: 0px;
    background: url("img/zayavka/form_bg.png") no-repeat left top;
    background-size: cover;
    width: 60%;
    height: 100%;
    text-align: right;
}

.zayavka_form{
    position: absolute;
    top: 0px;  
    right: 50%;
    transform: translateX(50%);
    width: auto;  
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.zayavka_title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 36px;
    color: #fff;
    width: 440px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 15px;
}

.zayavka_textinput {
    width: 400px;
    height: 70px;
    border-radius: 10px;
    padding: 5px 20px;
    border: none;
    outline: none;
    color: #575757;
    font-size: 36px;
}

.zayavka_button{
    width: 440px;
    height: 80px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--main-green);
    border-radius: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 28px;
    line-height: 75px;
    text-align: center;
    color: #fff;
    margin-top: 33px;
    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin-bottom: 70px;
}


.zayavka_description{
    position: absolute;
    bottom: 0px;
    width: auto;
    min-width: 605px;
    height: 130px;
    background-color: #9dd0ece0;
    box-shadow: 0px -8px 25px rgba(0, 0, 0, 0.25);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 28px 28px 0px 0px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    padding-top: 18px;
}

.zayavka_description_sub_container{
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.zayavka_phone_number{
    line-height: 54px;
    color: #fff;
    text-decoration: none;
    border-bottom: 3px dashed #fff;
}

.zayavka_container_one{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

@media screen and (min-width: 1100px) {
    .zayavka_container_one {
        flex-flow: column wrap;
    }
  } /*НЕ РАБОТАЕТ СУКА НИХУЯ БЛЯТЬ СУКА*/

.zayavka_description_sub_phone{
    margin-right: 25px;
}

.click-click{
    position: absolute;
    top: 20px;
    right: 15px;
    z-index: 3;
}
/*end of zayavka*/



.contacts_main{
    width: 100%;
    height: 100vh;
    background: linear-gradient(106.56deg, #E8917E 3.43%, #F2C367 100.04%);
}

.contacts_main_block{
    padding-top:50px;
    width: 80vw;
    height: 80vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    border: inset 5px solid #fff;
}

.adress_block{
    position: absolute;
    background-color: #0000008c;
    left: 70px;
    top: 85px;
    z-index: 5;
    border-radius: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: #fff;
    padding: 10px 25px;
}

.links_block{
    position: absolute;
    background-color: #8080808c;
    margin-top:50px;
    right: 0px;
    top: 0px;
    height: calc(100% - 50px);
    width: 18%;
    z-index: 5;
    border-radius: 0px 36px 36px 0px;
    font-family: "Open Sans", sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: #fff;
}

.links_flex{
    position: absolute;
    width: 150px;
    height: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}